html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

p,
h1 {
  font-weight: bold;
}

/* header section */

.container {
  max-width: 960px;
  margin: auto;
}

.header {
  background-color: black;
  color: white;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.header img {
  background-color: black;
  padding-right: 1.5rem;
}

.header span {
  font-size: 1rem;
}

/* Banner Section */

.banner {
  background-image: url('./resources/images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner-headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  color: white;
  background-color: black
}

.banner-headline h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
}

.banner-headline p {
  font-size: 1rem;
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }

  .banner-headline {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }

.banner-headline p {
  font-size: 0.77rem;
}

.banner-headline h1 {
  font-size: 1rem;
}

}

/* Navigation Bar */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  padding: 0.75rem 0.75rem;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav-container {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none
  }

  .mobile-nav-container {
    display: block;
    text-align: center;
  }
}


/* Product Section */

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  background-color: black;
  text-align: center;
  color: white;
  padding: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .product{
    width: 50%;
  }

  .product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .product {
    width: 90%;
    margin: auto;
  }

  .product.watch {
    display: none;
  }
}

/* Company Info Section */

.company-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.info {
  width: 35%;
}

.info .info-box {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 470px) {
  .company-info {
    flex-wrap: wrap;
  }

  .info {
    width: 90%;
    margin: auto;
  }

  .info-box {
    margin: 0.5rem auto;
  }

}

/* Footer Section */

footer {
  background-color: black;
  padding: 5rem 0;
  margin-top: 4rem;
  color: white;
}

@media only screen and (max-width: 470px) {
  footer .container {
    text-align: center;
  }
}
